---
import Social from './Social.astro';
---

<footer class="bg-black text-slate-100 text-center text-xl p-6">
  <p>Barcelona Tango Marathon Team</p>
  <p>2026 - Barcelona, Spain</p>
  <Social platform="Instagram" username="barcelonatango" />
</footer>
