---
import '../styles/global.css';
const { class: className = '' } = Astro.props;
---

<div class="flex flex-col items-between"></div>

<div class=`p-2 border-2 rounded-xl border-amber-200 ${className}`>
  <button
    id="burger"
    aria-expanded="false"
    aria-controls="main-menu"
    class="w-8 h-8 flex flex-col items-center justify-center text-amber-200 relative z-20"
  >
    <span
      class="block w-8 h-1 bg-current rounded transition-all duration-300 my-1"
    ></span>
    <span
      class="block w-8 h-1 bg-current rounded transition-all duration-300 my-1"
    ></span>
    <span
      class="block w-8 h-1 bg-current rounded transition-all duration-300 my-1"
    ></span>
  </button>
</div>

<script type="module">
  const burger = document.getElementById('burger');
  let open = false;
  burger.addEventListener('click', () => {
    open = !open;
    burger.classList.toggle('open', open);
    burger.setAttribute('aria-expanded', open);
  });
</script>

<style is:global>
  /* Animación burger a X */
  #burger.open span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  #burger.open span:nth-child(2) {
    opacity: 0;
  }
  #burger.open span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
</style>
